<header>
  <nav>
    {% assign isShort = include.height == "short" %}
    <a class="title {% unless isShort %}is-short{% endunless %}" href="/">
      <svg width="550" height="550" viewBox="0 0 550 550" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="26.5" y="458.5" width="497" height="65" fill="#FFCB67" stroke="black" stroke-width="3"/>
        <rect x="26.5" y="170.5" width="497" height="65" fill="#008060" stroke="black" stroke-width="3"/>
        <rect x="26.5" y="314.5" width="497" height="65" fill="#90DFD6" stroke="black" stroke-width="3"/>
        <path d="M26.5 26.5H523.5V91.5H26.5V26.5Z" fill="#223274" stroke="black" stroke-width="3"/>
        <rect x="26.5" y="386.5" width="497" height="65" fill="#FFA781" stroke="black" stroke-width="3"/>
        <rect x="26.5" y="98.5" width="497" height="65" fill="#004C3F" stroke="black" stroke-width="3"/>
        <rect x="26.5" y="242.5" width="497" height="65" fill="#C43256" stroke="black" stroke-width="3"/>
      </svg>

      <span>Peeling Away the Layers of the Network Stack</span>
    </a>
    {% if isShort %}
    <div class="menu-icon">
      <button class="flex items-center px-3 py-2 border rounded text-white border-white-400 outline-none">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="menu">
      {% for site_page in site.pages %}
        <a href="{{ site_page.url }}" class="block text-white no-underline px-2 {% if page.url == site_page.url %}font-bold{% endif %}">
          {{ site_page.title }}
        </a>
      {% endfor %}
    </div>
    {% endif %}
  </nav>
</header>
